/*-- scss:defaults --*/

  $tweet-border-color-left: #0dcaf0 !default;
  
  $tweet-background-color: #bfe4eb !default;

  $callout-border-color-default: #dee2e6;

// This is Bootstraps global font size
// $font-size-base: 1rem;

  /*-- scss:rules --*/


// This next line uses repetitive/specificity to force
// Font size inside callout blocks to match main text

.callout.callout.callout-style-default .callout-body {
  font-size: var(--bs-body-font-size);
}

/* Disabled old custom boxes
.goals {
  margin: 1em 0;
  border: 2px solid $callout-border-color-default;
  border-left: 5px solid teal;
  border-radius: 5px;
}

.goals-header {
  margin-left: 0em;
  // padding-left:  60px; Used if we want image in margin
  padding-left: 5px;
  padding-top:  5px;
  padding-bottom: 0px;
  color: var(--bs-body-color);
  background-color: rgb(201, 232, 222);
  border-top-right-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  // background-size: 40px;
  // background-repeat: no-repeat;
  // background-position: 15px center;
  // background-image: url("picture.png");
}

.goals-header::before {
  background-image: url("./twit.png");
}

.goals-container {
  padding-top: 0px;
  padding-left: 0.5em;
  color: var(--bs-body-color); // Color of text will adjust for light/dark automatically
  background-color: var(--bs-body-bg); // Color of text will adjust for light/dark automatically
  border-bottom-right-radius: 10px;
}

.goals-container > p, .goals-header > p {
  margin-bottom: 5px;
}
*/

// This stuff below is another way to make custom callouts, and is more general. It really does copy styles from callouts, so allows collapse etc..
// variables for this were defined at the top too.
// Icon currently not working
// https://stackoverflow.com/questions/74647399/define-a-new-callout-in-quarto

div.callout-tweet.callout {
  border-left-color: $tweet-border-color-left;
}

div.callout-tweet.callout-style-default>.callout-header {
  background-color: $tweet-background-color;
}

.callout-tweet.icon .callout-icon {
  display: unset !important;
}

div.callout-tweet.icon.callout-captioned .callout-icon::before {
  background-image: "twit.png";
}

.callout-tweet.icon.callout-style-default div.callout-icon-container {
  padding-top: 0.1em;
  padding-right: 0.35em;
}
