/*-- scss:defaults --*/

@import "mixins";

/*-- scss:rules --*/

// Callout styling - New coloured callouts

$example-border-color: #66b58a;
$example-title-bg-color:#004721;

$video-border-color: #beb9eb;
$video-title-bg-color: #877eda;

$video-border-color: #b33a3a; 
$video-title-bg-color: #660000; 

$lemma-border-color: #66b58a;
$lemma-title-bg-color: #004721;

$definition-border-color: #ffb948;
$definition-title-bg-color: #8b2f00;

$theorem-border-color: #948bde;
$theorem-title-bg-color: #584eab;

$corollary-border-color: #7fbad7;
$corollary-title-bg-color: #005398;

$supplement-border-color: #44595E;
$supplement-title-bg-color: #274370;

$task-border-color: #948bde;
$task-title-bg-color: #584eab;

$answer-border-color: #d18888;
$answer-title-bg-color: #660000;

$weblink-border-color: #44595E;
$weblink-title-bg-color: #274370;

$key-border-color: #be4d00;
$key-title-bg-color: #8b3700;


.Example {
  @include numbered-box-dark-mode($example-border-color, $example-title-bg-color, $body-color);
}

.Video {
  @include numbered-box-dark-mode($video-border-color, $video-title-bg-color, $body-color);
}

.Lemma {
  @include numbered-box-dark-mode($lemma-border-color, $lemma-title-bg-color, $body-color);
}

.Definition {
  @include numbered-box-dark-mode($definition-border-color, $definition-title-bg-color, $body-color);
}

.Theorem {
  @include numbered-box-dark-mode($theorem-border-color, $theorem-title-bg-color, $body-color);
}

.Corollary {
  @include numbered-box-dark-mode($corollary-border-color, $corollary-title-bg-color, $body-color);
}

.Supplement {
  @include numbered-box-dark-mode($supplement-border-color, $supplement-title-bg-color, $body-color);
}

.Task {
  @include numbered-box-dark-mode($task-border-color, $task-title-bg-color, $body-color);
}

.Answer {
  @include numbered-box-dark-mode($answer-border-color, $answer-title-bg-color, $body-color);
}

.Weblink {
  @include numbered-box-dark-mode($weblink-border-color, $weblink-title-bg-color, $body-color);
}

.Key {
  @include numbered-box-dark-mode($key-border-color, $key-title-bg-color, $body-color);
}

